/* ==========================================================================
   Form styles
   ========================================================================== */

input,
auto-complete {
  border: $border-width $border-style transparent;
  background-color: $color-gray;
  padding: 10px;
  font-size: 1em;
}

input[type="text"] {
  background-color: $color-gray;
  width: 100%;
}

input[type="submit"] {
  background-color: $color-blue;
  color: $color-white;
}

increase-decrease::part(increase) {
  border-radius: 0 $border-radius $border-radius 0;
}

increase-decrease::part(decrease) {
  border-radius: $border-radius 0 0 $border-radius;
}
