/* ==========================================================================
   Form styles
   ========================================================================== */

input,
auto-complete {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 1em;
}

input[type="text"] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type="submit"] {
  background-color: dodgerblue;
  color: #fff;
}
